# Virtual Environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Logs
*.log

# Build
build/
dist/

# Python egg
*.egg-info/

# IDE
.idea/